.entryPart {
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    @include mediaQuery(768px) {
        padding-top: 60px;
    }
    .searchLogo {
        font-size: 5.5rem;
        letter-spacing: -8px;
        font-weight: bold;
    }
    .yellow.star {
        display: inline-block;
        transform: rotate(25deg);
    }
    .searchEntry {
        @include flex;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        padding: 10px;
        width: 50vw;
        border: 2px solid $form-border-color;
        border-radius: 100px;
        @include mediaQuery(768px) {
            width: 95vw;
        }
    }
    .searchEntry:hover {
        box-shadow: 0 0 14px $form-border-color;
    }
    .searchInput {
        width: 80vw;
        border: none;
        font-size: 17px;
        margin: 0px 18px 0px 8px;
        background-color: #fff;
    }
    .searchInput:focus {
        @include onPseudo;
    }
    .none {
        cursor: pointer;
        display: none;
    }
    .clear {
        cursor: pointer;
        color: $form-elements-color;
        margin-top: 1px;
        margin-right: 11px;
        justify-content: center;
        font-size: 18px;
    }
    .clear:hover {
        color: #b31f1f;
    }
    .button.submitButton {
        color: $form-elements-color;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
    }
    .button.submitButton:focus {
        @include onPseudo;
    }
    .button.submitButton:hover {
        @include onPseudo;
        color: $button-blue;
    }
}

input {}