.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.blue {
    color: $logo-blue;
}
.red {
    color: $logo-red;
}
.yellow {
    color: $logo-yellow;
}
.green {
    color: $logo-green;
}